{% extends 'gshop/base.html' %}

{% block content %}
<div class="row" style="font-family: 'Free Helvetian'">
    <div class="text-dark pt-3 w-50 col-md-8 mx-auto">
        <div class="text-center col-md-8 mx-auto">
            <img width="450px" src="https://kanzoboz.ru/data/images/520267.png" alt="logo">
        </div>
        <div class="text-center">
        <h1 class="mt-3"><b>С заботой о детях <i class="bi bi-heart"></i></b></h1>
        <p class="text-dark mt-5 h5">Добро пожаловать в Toy Factory - место, где ваши детские мечты оживают!
            Мы - фабрика игрушек, и наша страсть заключается в создании волшебства, радости и улыбок на лицах детей и взрослых по всему миру.</p>
        </div>
        <h3 class="mt-5"><u>Наши ценности:</u></h3>
        <ul>
        <li class="mt-3">
            <strong>Качество и безопасность:</strong>
            Мы гордимся тем, что каждая игрушка, произведенная Toy Factory, проходит строгий контроль качества и соответствует высоким стандартам безопасности. Мы заботимся о здоровье и радости детей, поэтому качество - это наш приоритет.
        </li>
        <li class="mt-3">
            <strong>Инновации и творчество:</strong>
            Наша команда постоянно ищет новые способы удивлять и вдохновлять. Мы стремимся создавать уникальные, креативные и образовательные игрушки, которые способствуют развитию детей.
        </li>
        <li class="mt-3">
            <strong>Устойчивость:</strong>
            Мы ценим нашу планету и будущее наших детей. Поэтому мы уделяем внимание экологически устойчивому производству и упаковке, чтобы уменьшить наш экологический след.
        </li>
    </ul>
        <div class="p-3">
            <iframe width="800" height="475" src="https://www.youtube.com/embed/22RSyTY_NaE" title="Фабрика Игрушек МЯКИШИ. Производство развивающих игрушек для детей с рождения"></iframe>
        </div>
    </div>
    <section class="mt-3">
        <h3 class="text-center"><b>История компании "Мякиши"</b></h3>
        <dl class="col-md-8 mx-auto pt-2" style="padding-left: 160px; font-size: 18px">
            <dt class="mt-2">2000 год: Основание компании "Мякиши"</dt>
            <dd style="margin-left: 30px">В 2000 году группа творческих людей, вдохновленных идеей создания уникальных и качественных игрушек для детей,
                объединилась и основала компанию "Мякиши". Их целью было создать игрушки, которые приносят радость и улучшают развитие детей.</dd>
            <dt class="mt-2">2002 год: Первая коллекция мягких игрушек</dt>
            <dd style="margin-left: 30px">В 2002 году "Мякиши" представили свою первую коллекцию мягких игрушек.
                Коллекция получила огромное признание благодаря высокому качеству и уникальному дизайну.</dd>
            <dt class="mt-2">2005 год: Запуск онлайн-магазина</dt>
            <dd style="margin-left: 30px">Для удобства покупателей "Мякиши" запустили свой первый онлайн-магазин, который позволил заказывать игрушки со всего мира.
                Это позволило компании расширить свою аудиторию.</dd>
        </dl>
    </section>
</div>



{% endblock %}