{% extends 'gshop/base.html' %}
{% load gshop_tags %}

{% block content %}
    <section class="py-5">
        <h1 class="text-dark text-center">{{ title }}</h1>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for pr in object_list %}
                    <div class="col mb-5">
                        <div class="card bg-light text-dark">
                            <!-- Sale badge-->
                            <!--<div class="badge bg-danger text-white position-absolute"
                                 style="top: 0.5rem; right: 0.5rem">
                                Выгода
                            </div>-->
                            <!-- Product image-->
                            <img class="card-img-top mt-3" src="{{ pr.photo.url }}"
                                 alt="...">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h3 class="fw-bolder">{{ pr.name }}</h3>
                                    <!-- Product price-->
                                    <div class="row">
                                        <div class="row-cols-auto">
                                    <h4>
                                        <div class="badge bg-light text-dark"
                                        >{{ pr.price }}</div>
                                    </h4>
                                            </div>
                                    <div class="p-4 pt-0 border-top-0 bg-transparent row-cols-auto">
                                         <div class="text-center"><a class="btn btn-outline-dark mt-auto"  href="{{ pr.get_absolute_url }}">Подробнее</a></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}